.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgWrapper {
    height: 6rem;
    width: 6rem;
    margin: .4rem;
}

.img {
    width: 100%;
    height: 100%;
}

.info {
    flex: 1 1 0;
    max-width: 651px;
    padding-left: 1rem;
}

.title {
    font-weight: bold;
    font-style: italic;
    color: #292f35;
    padding-bottom: 14px;
}

.titleQuote {
    color: #ff860d;
}

.person {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #a7a7a7;
}

.extra {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #a7a7a7;
}

@media (max-width: 480px) {
    .container {
        min-height: 132px;
    }

    .title {
        font-size: 16px;
        line-height: 20px;
    }
}

@media (max-width: 980px) and (min-width: 481px) {
    .container {
        min-height: 194px;
    }

    .title {
        font-size: 24px;
        line-height: 32px;
    }
}

@media (min-width: 981px) {
    .container {
        min-height: 194px;
    }

    .title {
        font-size: 32px;
        line-height: 35px;
    }
}

