.container {
    border-radius: 6px;
    box-shadow: 0 24px 16px -16px rgba(0,0,0,0.16);
    background-color: #ffffff;
    flex: none;
    max-width: 95%;
}

@media (max-width: 480px) {
    .container {
        padding: 16px 13px;
    }
}

@media (max-width: 980px) and (min-width: 481px) {
    .container {
        padding: 14px;
    }
}

@media (min-width: 981px) {
    .container {
        padding: 8px;
    }
}

.imgContainer {

}

.image {
    display: block;
    height: auto;
    max-width: 100%;
}

.image:first-child {
    border-top-left-radius: .1rem;
    border-top-right-radius: .1rem;
}

.avatarContainer {
    position: absolute;
    margin-top: -32px;
    margin-left: 20px;

    font-size: 1.2rem;
    height: 2.4rem;
    width: 2.4rem;
}

.avatar {
    margin-top: 4px;
    height: 100%;
    width: 100%;
    max-width: 100%;
}

.header {
    padding: .8rem .8rem 0;
}

.header:last-child {
    padding-bottom: .8rem;
}

.title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: #292f35;
    font-weight: bold;
}

.subTitle {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #9fa4a8;
}
