.container {
  height: 100%;
  width: 100%;
}

.count {
  background-color: #f63636;
  border-radius: 100%;
  display: block;
  color: #fff;
  font-size: 10px;
  height: 22px;
  line-height: 22px;
  position: absolute;
  right: -5px;
  text-align: center;
  top: -10px;
  width: 22px;
}
