.container {
    flex: 1 1 0;
    position: relative;
    padding-top: 60px;
}

.headerContainer {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 60px;
    width: 100%;
}

.content {
    background-color: #fff;
    flex-grow: 2;
    margin: auto;
    max-width: 87.5rem;
    transition: .3s ease;

    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
}

.quoteWrapper {
    margin: 32px 24px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainWrapper1 {
    margin-bottom: 32px;
    padding: 0 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainWrapper2 {
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 0 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 981px) {
    .quoteWrapper {
        margin-top: 60px;
    }
}
